.footer__copyright{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
  padding-bottom: 60px;
}

@media screen and (max-width: 604px) {
  .footer__copyright{
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    text-align: left;
    padding-left: 19px;
  }
}