.header__wrapper{
  max-width: 880px;
  margin: 0 auto;
  padding-bottom: 36px;
  padding-top: 45px;
  
}

@media screen and (max-width: 675px) {
  .header__wrapper {
    padding-bottom: 38.25px;
    padding-top: 28px;
    max-width: 282px;
    
  }
}

@media screen and (max-width: 320px) {
  .header__wrapper {
    margin: 0;

  }
}