.profile__button{
  display: inline-flex;
  background-color: black;
  box-sizing: border-box;
  border: none;
  padding: 0px;
  margin-left: 9px;
}

@media screen and (max-width: 675px) {
  .profile__button {
    margin-left: 0px;
  }
}