.header__title{
  background-image: url(../../../images/Vector.png);
  min-height: 33px;
  min-width: 142px;
  background-repeat: no-repeat;
  background-size: contain;
}


@media screen and (max-width: 875px) {
  .header__title{
    min-height: 24.4px;
    min-width: 103.74px;
    margin-left: 27px;
  }
}