.header__title{
  background-image:url(../../../images/vector-title.svg);
  min-width:142px;
  min-height:33px;  
  background-repeat:no-repeat;
  background-size:contain;
}


@media screen and (max-width: 875px) {
  .header__title{
    min-height: 24.4px;
    background-size: 103.74px 24.4px;
    margin-left: 27px;
    text-align: left;
  }
}